body {
  max-width: 800px;
  margin: auto;
}

main {
  margin: 0 10px;
}

#settings {
  font-size: 16px;
}

#font-family, 
#text-align {
  font-size: medium;
}

#bkg-color, 
#font-color {
  width: 30px;
}

select {
  margin: 10px 0 0;
  width: max-content;
}

label {
  display: block;
  margin: 10px 0;
  width: max-content;
}

button {
  margin: 20px 0;
}

input {
  vertical-align: middle;
}